* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../img/backgroundcompany.jpg) no-repeat;
    background-size: cover;
}

.r1 {
    background-color: rgb(89, 142, 241);
    margin: 0;
}

h1 {
    color: rgb(255, 255, 255);
}

ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

ul li:hover {
    background-color: rgb(218, 218, 218);
}

.r2 {
    height: 200px;
}

.r2 p {
    color: #fff;
}