:root {
    --pink: #e5345b;
}

* {
    padding: 0;
    margin: 0;
}

.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}

.btn:not(.nav-btns button):hover{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}

/* header */
#header {
    background: url('../img/background.png') top/cover no-repeat;
    padding-top: 104px;
}
.carousel-inner h1{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.carousel-item .btn {
    border-color: #fff!important;
}

.carousel-item .btn:hover {
    border-color: var(--pink)!important;
}

/* title */
.title h2::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
} 

/* Collection */
.active-filter-btn {
    background-color: var(--pink)!important;
    color: #fff!important;
    border-color: var(--pink)!important;
}

.collection-img span {
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.text-primary {
    color: var(--pink)!important;
}

/* offers */
#offers {
    background: url('../img/background_offer.png') center/cover no-repeat;
}

#offers .row {
    min-height: 60vh;
}

.offers-content span {
    font-size: 28px;
}

.offers-content h2 {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.offers-content .btn {
    border-color: transparent!important;
}

/* new */
.card {
    border: 1px solid rgb(0, 0, 0,0.1)!important;
    padding: 0;
}

.card img {
    width: 100%;
    height: 200px;
    background-size: cover;
}

.card div h4 {
    display: block;
    height: 150px;
}

.col-lg-4 {
    width: 420px!important;
}

#blogs .btn{
    border-radius: 0!important;
    margin-left: 10px;
}


/* footer */
footer .brand {
    letter-spacing: 2px;
}

footer a {
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--pink)!important;
}






