* {
    padding: 0;
    margin: 0;
}

/*  */
.incentives .container .title .bg-secondary {
    height: 3vh;
}

.incentives .container .title{
    border: 1px solid black;
}


/* Other */
.content {
    margin-top: 103px;
}

.gioiThieu {
    width: 100%;
    height: 40%;
    overflow-y: scroll;
}